{% import "parts/mixins.twig" as mixins %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  {% block title %}
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <style>
    body {
      opacity: 0;
    }
  </style>
</head>

<body>

<div class="all-wrap">

  {% block content %}
  {% endblock %}

</div>

<!-- uncache -->
<link rel="stylesheet" href="{{ 'css/main.css' if NODE_ENV !== 'build' else 'css/main.min.css' }}">
<!-- enduncache -->

{% block scripts %}
  <!-- uncache -->
  <script src="{{ 'scripts/app.js' if NODE_ENV !== 'build' else 'scripts/app.min.js' }}"></script>
  <!-- enduncache -->
{% endblock %}

</body>
</html>