@fonts: "../fonts/";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Courgette');

.italic() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.light() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.regular() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.semi-bold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.bold() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.cursive() {
  font-family: 'Courgette', cursive;
}